<div class="container content" ng-controller="questionController">	
	<div ng-include="'html/common/loading.html'"></div>
	<div ng-show="tempData.showPage">
		<div class="row margin-bottom-10">			
			<div class="col-md-12">
				<a class="btn btn-default" href="dashboardPath">Back To Dashboard</a>
				<button class="btn btn-default" ng-click="notes()"><i class="fa fa-sticky-note-o"></i>&nbsp;Notes</button>
				<H3 class="pull-right">Exam ID : {{initData.examId}}</H3>
			</div>
		</div>
		<div class="alert alert-danger" role="alert" data-ng-if="saveData.error">
			<div class='text-danger' data-ng-repeat="message in saveData.messageList">
				{{message.message}}
			</div>						
		</div>	
		<div class="panel panel-info">			
			<div class="panel-heading">
				<h3 class="panel-title">
					<i class="fa fa-exclamation-triangle"></i>Question-{{initData.question.code}} ({{initData.examQuestionDto.questionNumber}} of {{tempData.totalQuestions}})
					<span class="pull-right">						
						<button ng-class="getStarredClass()" ng-click="starTheQuestion()">&nbsp;<i class="fa fa-star"></i></button>
					</span>
				</h3>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-12">
						<H5><span class="text-info" ng-bind-html="initData.question.text | unsafeHTML"></span></H5>
					</div>
				</div>	
			</div>
		</div>
		<div class="panel panel-info">			
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-tasks"></i>Options</h3>
			</div>
			<div class="panel-body">
				<div class='alert alert-danger' ng-if="saveData.messages['selectedOptions']">
					{{saveData.messages['selectedOptions']}}
				</div>	
				<div ng-if="initData.question.numberOfCorrectOptions==1" class="row" ng-repeat="option in initData.question.options | orderBy :'id'">
					<div class="col-md-12 radio">
						<H5>
							<label>
								<input type="radio" id="option{{option.id}}" name="option" ng-value='option.id' ng-model="tempData.option">&nbsp;<span class="text-info" ng-bind-html="option.option | unsafeHTML"></span>
							</label>
						</H5>
					</div>
				</div>
				<div ng-if="initData.question.numberOfCorrectOptions > 1" class="row" ng-repeat="option in initData.question.options | orderBy :'id'">
					<div class="col-md-12 checkbox">
						<H5>
							<label>
								<input type="checkbox" id="option{{option.id}}" name="option" ng-model="option.selected">&nbsp;<span class="text-info" ng-bind-html="option.option | unsafeHTML"></span>
							</label>
						</H5>
					</div>
				</div>	
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<button class="btn-u" ng-disabled="initData.examQuestionDto.previousQuestionId==null" ng-click="previous()"><i class="fa fa-arrow-circle-left"></i>&nbsp;Previous</button>
				<span class="pull-right">																		
					<button class="btn-u" ng-click="next()">Next&nbsp;<i class="fa fa-arrow-circle-right"></i></button>					
				</span>
			</div>
		</div>	
	</div>		
	<pre>{{initData|json}}</pre>	
</div>
